---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { defaultLanguage, useTranslations, type LanguageCode } from '@/i18n/ui';
import Heading from '@/components/Heading.astro';
  
const lang = Astro.currentLocale as LanguageCode | undefined ?? defaultLanguage;
const t = useTranslations(lang, 'aboutPage');

const pageTitle = t('pageTitle');
const pageDescription = t('pageDescription');
---
<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <section>
    <Heading 
      title={pageTitle} 
      description={t('introduction')} 
      showDivider={true} 
      titleClassName='md:text-5xl'
      className="text-center"
    />
    
    <div class="space-y-4">
      <p>
        {t('skills')}
      </p>
      <p>
        {t('reasonWhy')}
      </p>
      <p>
        {t('additionalInfo')}
      </p>
    </div>
    {/* Tu pourras ajouter une photo, des liens vers tes réseaux (GitHub, LinkedIn), etc. */}
  </section>
</BaseLayout>