--- 
import BaseLayout from '@/layouts/BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
import type { LanguageCode } from '@/i18n/ui';
import { getRelativeLocaleUrl } from 'astro:i18n'
import { useTranslations } from '@/i18n/ui';
import BlogPostCard from '@/features/blog/components/BlogPostCard.astro';
import Heading from '@/components/Heading.astro';
import { EmptyState } from '@/components/empty-state';



type Props = {
  posts: CollectionEntry<'blog'>[];
  lang: LanguageCode;
};

const { posts, lang } = Astro.props;

const t = useTranslations(lang, 'blogPage');

const pageTitle = t('pageTitle');
const pageDescription = t('pageDescription');
---
<BaseLayout {pageTitle} {pageDescription}>
  <div class="container mx-auto px-4 py-8 md:py-12">
      <Heading
      title= {t('title')}
      description={t('description')}
      

      />
    
    {posts.length === 0 ? (
      <EmptyState
      title={t('comingSoon')}
       />
    ) : (
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
        {posts.map(post => (
          <BlogPostCard 
            post={post} 
            lang={lang} 
          />
        ))}
      </div>
    )}
  </div>
</BaseLayout>
